body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    width: 100%;

}

h1 {
    font-size: 40px;
}

.skip-diet {
    display: flex;
    padding: 10px 20px 20px 80px;
    margin-bottom: 60px;


}

.skip {
    color: orange;
}

.half-width {
    width: 100%;
}

.half-width img {
    width: 80%;

}

.link {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
    margin-bottom: 40px;

}

.part2 {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-top: 40px;
    padding-right: 50px;
}

.part2 img {
    width: 50%;
}

.recipi {
    text-align: center;
    padding: 40px 200px 10px 200px;
}

.design {
    display: flex;
}

.recipi-title {
    width: 40%;

    padding: 20px 20px 20px 30px;
    border-radius: 20px;
    box-shadow: 10px 15px 20px gray;
}

.recipi-title img {
    width: 100%;
    border-radius: 30px;
}

#margin-left {
    margin: 2% 1% 1% 6%;
}

#margin-right {
    margin: 2% 6% 1% 1%;
}

.flowers {
    width: 80%;
    margin: 5% 5%;
    padding: 20px 20px 20px 20px;
    text-align: center;

}

.position-left {
    text-align: start;
}

.position-middle {
    text-align: center;

}

.position-right {
    text-align: end;
}